@CHARSET "ISO-8859-1";
body {
	background-color: #F4A460;
	text-align: center;
}
button {
	background-color: #00FF7F;
	font-size: medium;
}
#header {
	background-color: #00FF7F;
	text-align: center;
}
#footer {
	background-color: #00FF7F;
	font-size: medium;
	text-align: center;
}